{{#each this}}
  <ul class="pure-menu-list">
    <li><h3 class="pure-menu-item"><a href="#" class="pure-menu-link">{{item}}</a></h3></li>
    <li class="pure-menu-item">{{description}}</li>
    <li class="pure-menu-item">{{price}}</li>
  </ul>
{{/each}}
